@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #040c04;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: whitesmoke;
}

h1 {
  font-family: "Zen Dots", cursive;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
}

img {
  image-resolution: 5dpi;
}
